{% extends "layout.html" %}

{% block content %}

<div class="content-section">

    <p>
        Este projeto é uma <strong>aplicação web de gerenciamento de tarefas</strong> desenvolvida com <strong>Flask</strong>.
    </p>
    <p>
        O objetivo é oferecer uma maneira simples e eficiente para que os usuários possam organizar seu dia a dia, criando, visualizando, editando e excluindo tarefas.
    </p>

    <h4 class="mt-4"> Funcionalidades</h4>
    <ul>
        <li>Autenticação de usuários (registro, login e logout)</li>
        <li>Criação de tarefas</li>
        <li>Visualização de todas as tarefas cadastradas</li>
        <li>Atualização e exclusão de tarefas</li>
        <li>Configurações de conta (alterar nome de usuário e senha)</li>
        <li>Proteção de rotas para usuários autenticados</li>
    </ul>
    
    <h4 class="mt-4"> O que ele possui</h4>
    <ul>
        <li>Página de registro/login: acesso seguro à aplicação</li>
        <li>Menu lateral: links para adicionar e visualizar tarefas</li>
        <li>Página de tarefas: lista de tarefas com opção de editar ou excluir</li>
        <li>Menu de conta: permite alterar usuário/senha ou sair</li>
    </ul>

    
</div>

{% endblock %}
