{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>

            <!-- Campo Nome de Usuário -->
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control") }}
                {% endif %}
            </div>

            <!-- Link para Alterar Senha -->
            <div class="mb-3">
                <small class="text-muted">
                    <a class="ml-2 text-success" href="{{ url_for('change_password') }}">Alterar Senha</a>
                </small>
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>

        </fieldset>
    </form>
</div>

{% endblock %}
