{% extends "layout.html" %}

{% block content %}

<!-- Ver Todas as Tarefas -->
{% if tasks %}
<table class="table table-bordered shadow-sm" style="font-family: 'Poppins', sans-serif;">
    <thead class="bg-light text-dark border-bottom border-success">
        <tr class="text-center align-middle">
            <th scope="col" style="width: 40px;"></th>
            <th scope="col" class="fw-semibold" style="vertical-align: middle;">Tarefa</th>
            <th scope="col" class="fw-semibold" style="width: 90px;">Editar</th>
            <th scope="col" class="fw-semibold" style="width: 90px;">Excluir</th>
        </tr>
    </thead>

    
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row" class="text-center">{{ loop.index }}</th>
            <td>{{ task.content }}</td>
            <td class="text-center">
                <a href="{{ url_for('update_task', task_id=task.id) }}" class="btn btn-outline-secondary btn-sm">Editar</a>
            </td>
            <td class="text-center">
                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-outline-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<legend>Nenhuma tarefa para exibir</legend>
<p class="text-muted">
    Clique <a href="{{ url_for('add_task') }}">aqui</a> para adicionar uma tarefa
</p>
{% endif %}

{% endblock %}
