{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 ">Entrar</legend>

            <!-- Campo: Nome de Usuário -->
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control") }}
                {% endif %}
            </div>

            <!-- Campo: Senha -->
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </fieldset>
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            Ainda não tem uma conta?
            <a href="{{ url_for('register') }}" class="btn btn-outline-success btn-sm ml-2">
                Cadastre-se agora
            </a>
        </small>
    </div>
    
</div>
{% endblock %}
